.about_the_club{
    background-color:#906de9;
    font-family: 'Raleway', sans-serif;
    height: 90vh

}
.about_the_club  h1{
    color: #171D20;
    text-align: center;
    padding-top: 5%;
    font-weight: 800;
    font-size: 2.5rem;
}

#about_the_club-underline{
    width: 6%;
    height: 10px;
    margin-left: 47%;
    margin-top: 10px;
    background-color: #171D20;
    border-radius: 30px;
    margin-bottom: 30px;
}
#about_the_club-text{

    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'lato', sans-serif;
    padding: 0rem 5rem;

}


@media (max-width : 320px){
    .responsive{
        height: 112vh ;
    }
}
